{% extends "layout.htm" %}

{% block content %}
<div class="columns">
    <div class="column">
        <h3>About me</h3>
        <p>
            My name is Ann Smith. I am a senior in high school. Everyone can agree that I am a good student and that I
            like to study. My favorite subjects are chemistry and biology. I am going to enter the university because my
            goal is to study these subjects in future and to become a respected professional in one of the fields.
        </p>
        <a href="/contact">Get in touch</a>
    </div>
</div>
{% endblock content %}
